---
layout: default
title: Blog
permalink: /blog/
---

<div class="home">

  <h1>Blog</h1>

  <p>
    Some short articles and code I found interesting...
    <br>
    <br>
  </p>


  <ul class="post-list">
    {% for post in site.blog %}{% if post.page_number  == 1 %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }} (<small>{{ post.type }}</small>)</span>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endif %}
    {% endfor %}
  </ul>

</div>
